# Ignore data folders
data/
ddpm_full_samples/
ddpm_samples/
t1_to_t2_samples/
vae_samples/

# Ignore model checkpoints
ddpm_full_mid_slices_t1.pth
ddpm_mid_slices_t1_small.pth
ddpm_mid_slices_t1.pth
t1_to_t2_unet.pth
vae_mid_slices_t1.pth

# Ignore zip/download artifacts
zenodo_upload_v2.zip
zenodo_upload_v2.zip?download=1
